.sidebar {
  background-color: white;
  display: block;
  padding-top: 4px;
  width: 72px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
}

.sidebar-link {
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74px;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6.5px;
}